{% load static %}
<!-- Footer Start -->
<footer id="footer" class="footer-style-2">
    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="widget widget-newsletter">
                        <div class="widget-title">
                            <h5>Subscribe to our Newsletter</h5>
                        </div>
                        <div class="fieldset">
                            <form action="#">
                                <div class="field-holder">
                                    <label>
                                        <i class=" icon-envelope3"></i>
                                        <input type="text" class="field-input" placeholder=" Enter Your Email Address...">
                                    </label>
                                </div>
                                <div class="field-holder btn-holder">
                                    <input class="subscribe-btn bgcolor" type="submit" value="Sign Up">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="copyright-inner">
                        <div class="copy-right">
                            <p>© 2020 Foodbakery. All Rights Reserved. Developed By <a href="#">Rathan Kumar</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /.cs-copyright -->
</footer>
<!-- Footer End -->
</div>

	
	<!-- Modal Popup End -->
	<script src="{% static 'js/scripts.js' %}"></script>
	<script src="{% static 'js/functions.js' %}"></script>
</body>

</html>