{% extends 'base.html' %}
{% load static %}


{% block content %}
<!-- Main Section Start -->
<div class="main-section">
	<!-- Home Pages Elements Strat -->
	<!-- Main Search Start -->
	<div class="page-section nopadding cs-nomargin" style="padding-top: 200px; padding-bottom: 150px; margin-bottom: 0px; background: url({% static 'extra-images/bg-image1.jpg' %}) no-repeat center / cover;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
					<div class="element-title">
						<h1 style="font-size: 40px; color: #505050; text-transform: uppercase; line-height: 50px; margin-bottom: 25px; text-align:center;">
							We are in the business of food<br>our restaurants do</h1>
						<p style="font-size: 18px; letter-spacing: 1px; color: #505050; text-align:center;">
							Ridiculus sociosqu
							cursus neque cursus curae ante scelerisque vehicula.</p>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
					<div class="main-search fancy bg-holder">
						<form>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-5 col-xs-12">
									<div class="field-holder">
										<input type="text" placeholder="Resturant name">
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
									<div class="field-holder">
										<ul>
											<li class="select-location">
												<div class="foodbakery-locations-fields-group foodbakery-focus-out">
													<span class="foodbakery-search-location-icon"><i class="icon-location"></i></span>
													<span id="foodbakery_radius_location_open333" class="foodbakery-radius-location"><i class="icon-target5"></i></span>
													<input type="text" class="location-field-text filter" placeholder="All Locations">
												</div>
												<div class="select-location" id="foodbakery-radius-range333" style="display: none;">
													<div class="select-popup popup-open">
														<a id="location_close_popup333" href="javascript:0;" class="location-close-popup">
															<i class="icon-times"></i></a>
														<input type="hidden" class="foodbakery-radius" name="foodbakery_radius" value="10">
														<p>Show with in</p>
														<input id="ex16b333" type="text" data-value="10" value="10" style="display: none;">
														<script>
															jQuery(document).ready(function () {
																var elem = jQuery("#ex16b333");
																if (elem.length != "") {
																	elem.slider({
																		step: 1,
																		min: 0,
																		max: 500,
																		value: 10,
																	});
																	elem.on("slideStop", function () {
																		var rang_slider_val = elem.val();
																		jQuery("#ex16b333CurrentSliderValLabel").html(rang_slider_val);
																		jQuery("#range-hidden-foodbakery-radius333").val(rang_slider_val);
																		//foodbakery_restaurant_content("333");
																	});
																	elem.on("slide", function () {
																		jQuery("#ex16b333CurrentSliderValLabel").html(elem.val());
																	});
																}

																$("#foodbakery_radius_location_open333").click(function () {
																	$("#foodbakery-radius-range333").show();
																});
																$("#location_close_popup333").click(function () {
																	$("#foodbakery-radius-range333").hide();
																});
															});
														</script>
														<span>Miles: <span id="ex16b333CurrentSliderValLabel">10</span></span><br>
														<p class="my-location">of <i class="cs-color icon-location-arrow"></i><a id="foodbakery-geo-location-all" class="cs-color foodbakery-geo-location313324" href="javascript:void(0)">My location</a></p>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
									<div class="field-holder">
										<input type="submit" value="Search">
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<!-- Main Search End -->
	
	<!-- Top Restarurants Section Start -->
	<div class="page-section nopadding cs-nomargin" style="margin-top: 0px;padding-top: 60px;padding-bottom: 0px;margin-bottom: 0px;background: #ffffff;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="element-title align-left">
						<h2>Top Restaurants</h2>
						<p>Explore restaurants, bars, and cafés by locality</p>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-right: 0 !important; padding-left: 0 !important;">
					<div class="company-logo">
						<ul>
							{% for vendor in vendors %}
							<li class="has-border">
								<figure>
									{% if vendor.user_profile.profile_picture %}
									<a href="#"><img src="{{ vendor.user_profile.profile_picture.url }}" class="attachment-full size-full wp-post-image" alt=""></a>
									{% else %}
									<a href="#"><img src="{% static 'images/default-profile.png' %}" class="attachment-full size-full wp-post-image" alt=""></a>
									{% endif %}
								</figure>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Top Restarurants Section End -->
	<!-- Choose From Most Popular Listin Start -->
	<div class="page-section nopadding cs-nomargin" style="margin-top: 0px;padding-top: 60px;padding-bottom: 50px;margin-bottom: 0px;background: #ffffff;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="element-title align-center">
						<h2>Choose From Most Popular Restaurants</h2>
						<p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="listing fancy">
						<ul class="row">
							{% for vendor in vendors %}
							<li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="list-post featured">
									<div class="img-holder">
										<figure>
											<a href="#">
												{% if vendor.user_profile.profile_picture %}
												<img src="{{ vendor.user_profile.profile_picture.url }}" class="img-thumb wp-post-image" alt="">
												{% else %}
												<img src="{% static 'images/default-profile.png' %}" class="img-thumb wp-post-image" alt="">
												{% endif %}
											</a>
										</figure>
										<span class="restaurant-status close">
											<em class="bookmarkRibbon"></em>Close
										</span>
									</div>
									<div class="text-holder">
										
										<div class="post-title">
											<h5>
												<a href="listing-detail.html">{{ vendor }}</a>
											</h5>
										</div>
										{% if vendor.user_profile.city and vendor.user_profile.state and vendor.user_profile.pin_code %}
										<span>{{ vendor.user_profile.city }}, {{ vendor.user_profile.state }}, {{ vendor.user_profile.pin_code }}</span>
										{% endif %}
									</div>
									<div class="list-option">
										<a href="javascript:void(0);" class="shortlist-btn" data-toggle="modal" data-target="#sign-in">
											<i class="icon-heart-o"></i>
										</a>
									</div>
								</div>
							</li>
							{% endfor %}
							
							
							
							
							

						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Choose From Most Popular Listing End -->

	<!-- Home Pages Elements End  -->
</div>
<!-- Main Section End -->
{% endblock %}