{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- Main Section Start -->
<div class="main-section pt-5">
    <div class="page-section">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <div class="tabs-holder horizontal">
                        <ul class="stickynav-tabs nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home"><i class="fa fa-shopping-cart text-danger"></i>Review Your Billing Address</a></li>
                            
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane in active">
                                <div class="menu-itam-holder">
                                    
                                    <div id="menu-item-list-6272" class="menu-itam-list">
                                        
                                        <div class="billing-address">
                                            <div><b>{{ order.name }}</b></div>
                                            <div>{{ order.address }}</div>
                                            <div>{{ order.city }} - {{ order.pin_code }}</div>
                                            <div>{{ order.state }}, {{ order.country }}</div>
                                            <div><b>Phone: </b>{{ order.phone }}</div>
                                            <div><b>Email: </b>{{ order.email }}</div>
                                            <div><b>Payment: </b>{{ order.payment_method }}</div>
                                            <br>
                                            <div><a href="{% url 'checkout' %}" class="btn btn-outline-danger">Edit</a></div>
                                            <br>

                                        </div>
                                        
                                    </div>

                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <!-- Your order section -->
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="tabs-holder horizontal">
                        <ul class="stickynav-tabs nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home"><i class="icon- icon-room_service"></i>Your Order</a></li>
                            
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane in active">
                                <div class="menu-itam-holder">
                                    
                                    <div>

                                        <table class="table">
                                            <tbody>
                                                {% for item in cart_items %}
                                                <tr>
                                                    <td><img src="{{ item.fooditem.image.url }}" width="40" alt="Food Image"></td>
                                                    <td><b>{{ item.fooditem }}</b></td>
                                                    <td>{{ item.quantity }}</td>
                                                    <td>${{ item.fooditem.price }}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>

                                        <ul>
                                            <li style="list-style-type: none;">
                                                Subtotal
                                                <span class="price float-right">
                                                    <span class="currency">$</span>
                                                    <span id="subtotal">{{ subtotal }}</span>
                                                </span>
                                            </li>

                                            {% for key, value in tax_dict.items %}
                                                {% for i, j in value.items %}
                                                    <li style="list-style-type: none;">
                                                        {{ key }} <small>({{ i }}%)</small>
                                                        <span class="price float-right">
                                                            <span class="currency">$</span>
                                                            <span id="tax-{{ key }}">{{ j }}</span>
                                                        </span>
                                                    </li>
                                                {% endfor %}
                                            {% endfor %}


                                            <li style="list-style-type: none; font-weight: 600;">
                                                TOTAL
                                                <span class="price float-right">
                                                    <span class="currency">$</span>
                                                    <span id="total">{{ grand_total }}</span>
                                                </span>
                                            </li>

                                            {% if order.payment_method == 'PayPal' %}
                                            <!-- PayPal Checkout Button -->
                                            <div id="paypal-button-container"></div>
                                            {% elif order.payment_method == 'RazorPay' %}
                                            <div id="rzp_payment_button">
                                                <button class="btn btn-danger w-100 p-2" id="rzp-button1">Pay with RazorPay</button>
                                                <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
                                            </div>
                                            {% endif %}
                                        </ul>
                                    </div>
                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- Main Section End -->


<script>
    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
                }
            }
        }
        return cookieValue;
    }
    

    var grand_total = "{{ grand_total }}"
    var url = "{% url 'payments' %}"
    var order_number = "{{ order.order_number }}"
    const csrftoken = getCookie('csrftoken');
    var order_complete = "{% url 'order_complete' %}"
    console.log('csrftoken===>', csrftoken)
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({

        // Set up the transaction
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: grand_total
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(orderData) {
                // Successful capture! For demo purposes:
                console.log(orderData)
                var transaction = orderData.purchase_units[0].payments.captures[0];

                var transaction_id = transaction.id
                var status = orderData.status
                var payment_method = 'PayPal'
                sendTransaction(transaction_id, payment_method, status);

                // Replace the above to show a success message within this page, e.g.
                const element = document.getElementById('paypal-button-container');
                element.innerHTML = '';
                element.innerHTML = '<h4 class="text-center"><i class="fa fa-spinner fa-spin"></i> Please wait...</h4>';
                // Or go to another URL:  actions.redirect('thank_you.html');
            });
        }


    }).render('#paypal-button-container');

    // RazorPay Payment Gateway
    var options = {
            "key": "{{ RZP_KEY_ID }}", // Enter the Key ID generated from the Dashboard
            "amount": "{{ rzp_amount }}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "FoodOnline",
            "description": "FoodOnline - Multi Vendor Restaurant Marketplace",
            "image": "{% static 'logo/foodOnlineLogo.png' %}",
            "order_id": "{{ rzp_order_id }}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response){
                // alert(response.razorpay_payment_id);
                // alert(response.razorpay_order_id);
                // alert(response.razorpay_signature)
                // Replace the above to show a success message within this page, e.g.
                const element = document.getElementById('rzp_payment_button');
                element.innerHTML = '';
                element.innerHTML = '<h4 class="text-center"><i class="fa fa-spinner fa-spin"></i> Please wait...</h4>';

                var transaction_id = response.razorpay_payment_id
                var payment_method = 'RazorPay'
                var status = 'Success'
                sendTransaction(transaction_id, payment_method, status)
            },
            "prefill": {
                "name": "{{ order.name }}",
                "email": "{{ order.email }}",
                "contact": "{{ order.phone }}"
            },
            "notes": {
                "address": "{{ order.address }}"
            },
            "theme": {
                "color": "#dc3545"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.on('payment.failed', function (response){
                alert(response.error.code);
                alert(response.error.description);
                alert(response.error.source);
                alert(response.error.step);
                alert(response.error.reason);
                alert(response.error.metadata.order_id);
                alert(response.error.metadata.payment_id);
        });
    document.getElementById('rzp-button1').onclick = function(e){
        rzp1.open();
        e.preventDefault();
    }
    // RazorPay Payment Gateway


    // Send the data to payments view to store in the database
    function sendTransaction(transaction_id, payment_method, status){
        $.ajax({
            type: 'POST',
            url: url,
            data: {
                'order_number': order_number,
                'transaction_id': transaction_id,
                'payment_method': payment_method,
                'status': status,
                'csrfmiddlewaretoken': csrftoken
            },
            success: function(response){
                console.log('response==>', response)
                window.location.href = order_complete +'?order_no='+response.order_number+'&trans_id='+response.transaction_id
            }
        })
    }
</script>
{% endblock %}